---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about the project">
  <h1 class="text-white">about the project</h1>

  <p class="text-white">the SpaceX launches project is a demo for the astro course</p>
</Layout>
